<!-- 1. Display the current weather conditions for a user-specified location using the OpenWeatherMap
API. -->

<!-- <div>
    <input [(ngModel)]="city" placeholder="Enter city name">
    <button (click)="getWeather()">Get Weather</button>
  
    <div *ngIf="weatherData">
      <h2>Weather in {{ weatherData.name }}</h2>
      <p>Description: {{ weatherData.weather[0].description }}</p>
      <i [class]="weatherIcon(weatherData.weather[0].main)"></i>
      <img [src]="weatherGif" alt="Weather Image">
      <p>Temperature: {{ weatherData.main.temp }}°C</p>
      <p>Humidity: {{ weatherData.main.humidity }}%</p>
    </div>
   
  </div>  -->

<!-- 2.Display a five-day forecast of weather conditions for the selected location. -->

<!-- <div>
    <input [(ngModel)]="city" placeholder="Enter city name">
    <button (click)="getForecast()">Get Forecast</button>
  
    <div *ngIf="forecastData">
      <h2>Five-day Forecast for {{ forecastData[0].name }}</h2>
      <div *ngFor="let forecast of forecastData">
        <p>Date/Time: {{ forecast.dt_txt }}</p>
        <p>Description: {{ forecast.weather[0].description }}</p>
        <i [class]="weatherIcon(forecast.weather[0].main)"></i>
        <p>Temperature: {{ forecast.main.temp }}°C</p>
        <p>Humidity: {{ forecast.main.humidity }}%</p>
        <hr>
      </div>
    </div>
  </div> -->

<!-- <div class="nav">

  <input [(ngModel)]="city" placeholder="Enter city name" class="form-control">
  <button (click)="getWeather()">Get Weather</button>

</div> -->
<nav class="navbar navbar-expand-lg navbar-light navbarStyle bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <img src="../../../assets/weatherLogo.png" width="50" height="50" />
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand d-none d-lg-block " href="#"><img src="../../../assets/weatherLogo.png" width="50"
        height="50" /></a>
    <form class="my-2 my-lg-0 d-lg-flex d-inline" [formGroup]="weatherForm">
      <input class="form-control col-12 mr-sm-2" formControlName="city" (change)="onInput()" [(ngModel)]="city"
        type="text" placeholder="Search  by city name, zip code..." aria-label="Search">
      <!-- <button class="btn btn-primary my-2 my-sm-0 mt-md-3 mt-lg-0 mt-3" type="submit">Search</button> -->
      <ng-select [items]="weatherType" [readonly]="enableSelect" formControlName="selectWeather"
        (change)="onChangeWeatherType($event)" class="inputBox col-12 mr-sm-2 p-0 mt-2 mt-lg-0" bindLabel="name"
        placeholder="Select city" [(ngModel)]="selectedCity">
      </ng-select>
    </form>
  </div>
</nav>

<div class="container" *ngIf="currentWeather">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <!-- <img [src]="weatherGif" alt="Weather Image" height="350vh" width="350vw" style=" margin-top: 2rem;"> -->
    </div>
    <div class="col-md-6 col-lg-6 mt-5">
      <div class="card">
        <div *ngIf="weatherData">
          <div class="row">
            <div class="col-8 d-flex">
              <h2 class="heading">Weather in {{ weatherData.name }}</h2>
            </div>
            <div class="col-2 mt-3">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="toggleValue" (change)="toggleChanged()" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <p>Description: {{ weatherData.weather[0].description }}</p>
              <p>Weather Condition: <img [src]="weatherGif" alt="Weather Image" height="30vh" width="30vw"></p>
              <!-- <i [class]="weatherIcon(weatherData.weather[0].main)"></i> -->
              <p>Humidity: {{ weatherData.main.humidity }}%</p>
              <p>Visibility: {{ weatherData.visibility}}</p>
              <p>Wind Speed: {{ weatherData.wind.speed}}</p>
            </div>
            <div class="col-4">
              <div *ngIf="!toggleValue">Temperature <h4 class="temp mt-3">{{ temperature }}°C</h4> </div>
              <div *ngIf="toggleValue">Temperature <h4 class="temp mt-3">{{ temperature }}°F</h4> </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
    </div>
  </div>
</div>


<div class="container" *ngIf="!currentWeather">
  <div class="row">
    <!-- <div class="col-md-6 col-lg-5">
      <img [src]="weatherGif" alt="Weather Image" height="400vh" width="400vw">
    </div> -->
    <div class="col-md-6 col-lg-7">
      <div class="card">
        <div *ngIf="forecastData">
          <h2>Five-day Forecast for {{ forecastData[0].name }}</h2>
          <div *ngFor="let forecast of forecastData">
            <p>Date/Time: {{ forecast.dt_txt }}</p>
            <p>Description: {{ forecast.weather[0].description }}</p>
            <p>Temperature: {{ (forecast.main.temp)}}°C</p>
            <p>Humidity: {{ forecast.main.humidity }}%</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>